@page
@model AppStore.Pages.Products.DetailsModel
@{
}
<h1>Details</h1>
<dl class="row">

    <dt class="col-sm-2">
        @Html.DisplayNameFor(Model => Model.product.ProductName)
    </dt>
    <dt class="col-sm-10">
        @Html.DisplayFor(Model => Model.product.ProductName)
    </dt>

      <dt class="col-sm-2">
        @Html.DisplayNameFor(Model => Model.product.ProductReference)
    </dt>
    <dt class="col-sm-10">
        @Html.DisplayFor(Model => Model.product.ProductReference)
    </dt>
     <dt class="col-sm-2">
        @Html.DisplayNameFor(Model => Model.product.ProductDescription)
    </dt>
    <dt class="col-sm-10">
        @Html.DisplayFor(Model => Model.product.ProductDescription)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(Model => Model.product.ProductPrice)
    </dt>
    <dt class="col-sm-10">
        @Html.DisplayFor(Model => Model.product.ProductPrice)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(Model => Model.product.CategoryName)
    </dt>
    <dt class="col-sm-10">
        @Html.DisplayFor(Model => Model.product.CategoryName)
    </dt>

    <a asp-page="./Edit" asp-route-id="@Model.product.ProductId">Edit</a>
    <a asp-page="./index">Back to list</a>

</dl>